@font-face {
  font-family: "Tilt";
  src: url("/fonts/TiltWarp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: hsl(232 29% 44%);
  color: #EFEFEF;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tilt", sans-serif;

  .footer-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      .nav-link {
        color: #EFEFEF;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: hsl(232 40% 80%);
          text-decoration: underline;
        }
      }
    }
  }
}
