@use "_var.scss" as *;
@use "_fonts.scss" as *;

@mixin card-style {
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.meteo-view {
    font-family: "Tilt", Calibri, sans-serif;

    .form-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .selection {
            display: flex;
            gap: 0.5rem;

            .form-select {
                font-family: 'Tilt';
                font-size: large;
                width: 545px;
                height: 40px;
                border: solid 3px;
                border-radius: 4px;
                border-color: $background-color;
            }
        }
    }

    .title {
        text-align: center;
        text-transform: uppercase;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
        width: 1200px;

        .main-card {
            @include card-style;

            text-align: center;
            width: 500px;
            border-radius: 4px;
            padding: 0 1.2rem;
            justify-content: space-between;

            .min {
                color: $color-min;
            }

            .max {
                color: $color-max;
            }
            
            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 5rem;

                .min-max {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                }
            }

        }
        
        .container-cards {
           display: flex;
           justify-content: center;
           gap: 1rem;
           
           .row {
            display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 5rem;
                
           }
           

           .card {
            @include card-style;
            
            border-radius: 4px;
            width: 260px;

             .min {
                color: $color-min;
            }

            .max {
                color: $color-max;
            }
        }
        }
    }

    
}