@use "_var.scss" as *;
@use "_fonts.scss" as *;

@mixin card-style {
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.meteo-view {
    font-family: "Tilt", Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;;

    .form-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .form-label {
            color: $text-color-sombre;
        }

        .selection {
            display: flex;
            gap: 0.5rem;

            .form-select {
                font-family: 'Tilt';
                font-size: large;
                color: $text-color-sombre;
                width: 545px;
                height: 40px;
                border: solid 3px;
                border-radius: 4px;
                border-color: $text-color-sombre;
            }
        }
    }

    .title {
        text-align: center;
        text-transform: uppercase;
        color: $text-color-sombre;
    }

    .align-self {
        color: $text-color-sombre;
        text-align: center;
        margin: 2rem 0 2rem 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 1rem;
        width: 100%;

        .main-card {
            @include card-style;

            text-align: center;
            width: 500px;
            border-radius: 4px;
            padding: 0 1.2rem 1.5rem 1.2rem;
            justify-content: space-between;

            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 6rem;

                .temp {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                .min-max {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1.5rem;

                    .min {
                        color: $color-min;
                    }

                    .max {
                        color: $color-max;
                    }
                }
            }

            .row-days {
                display: flex;
                justify-content: space-around;
                 gap: 7.8rem;
               
            }

            .icons-hours {
                display: flex;
                justify-content: space-between;
                padding-left: 0.8rem;
            }

        }

        .container-cards {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 5rem;

            }


            .card {
                @include card-style;

                border-radius: 4px;
                width: 260px;

                .min {
                    color: $color-min;
                }

                .max {
                    color: $color-max;
                }
            }
        }
    }


}