$primary-color: hsl(232, 40%, 80%);
$background-color: hsl(232, 29%, 44%);
$text-color: hsl(232, 0%, 94%);
$text-color-sombre: hsl(232, 10%, 34%);
$color-min: hsl(48, 100%, 50%);
$color-max: hsl(194, 90%, 45%)